@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Nunito:wght@400;500;600;700;800&family=Prompt:wght@400;500;700;900&display=swap");

.font-caveat {
  font-family: "Caveat Brush", cursive;
}

.primary-color {
  color: var(--primary);
}

.font-nunito {
  font-family: "Nunito", sans-serif;
}

.font-prompt {
  font-family: "Prompt", sans-serif;
}
